<!--Points to the viewmodel class-->
@model MyPatrolLogbook.ViewModels.NewScoutListViewModel

<br />

<div class="row pt-4">

    <div class="text-center">
        <h2 style="color:#444444">List of New Scouts that Need to be Assigned to a Patrol</h2>
        <br />
    </div>

</div>

<br />
<div class="table-responsive">
    <!--Table that displays the products saved in the database-->
<table class="tableSlide2" style="width:100%">
    <!--Table headings-->
        <thead>
        <tr>
            <th style="text-align: center; vertical-align: middle;">
                SSA ID
            </th>
            <th style="text-align: center; vertical-align: middle;">
                    Scout Name
                </th>
            <th style ="text-align: center; vertical-align: middle;">
                    Email
                </th>

            <th style ="text-align: center; vertical-align: middle;"></th>
            </tr>
        </thead>
    @if (Model != null && Model.Scouts != null && Model.Scouts.Any())
        {
        <!--Table body-->
        <tbody>
            @foreach (var user in Model.Scouts)
            {
                <tr>
                    <td style="text-align: center; vertical-align: middle;">@user.SSAID</td>
                    <td style="text-align: center; vertical-align: middle;">
                        @user.FirstName
                        @user.LastName
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        @user.Email
                    </td>
                    <td style="text-align: center; vertical-align: middle;" width="40%">
                        <!--Anchor Tags that redirects the user to a new page if it's been clicked-->
                        <div class="w-75 btn-group" role="group">
                        <a asp-controller="NewScout" asp-action="AssignPatrol" asp-route-id="@user.Id"
                           class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i>Assign to a Patrol</a>

                            <a asp-controller="NewScout" asp-action="Delete" asp-route-id="@user.Id"
                            class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i>Remove</a>
                        </div>
                    </td>
                </tr>
                
            }
        </tbody>
    }
    else
    {
                    <tr>
            <td style="text-align: center; vertical-align: middle;" colspan="4">No New Scouts</td>
                    </tr>
    }
    </table>
    </div>

<br />
<br />
<br />

<div class="table-responsive">
    <table class="table">
        <tr>
            <td>
                <div class="image-container-cust2">
                    <!-- Your images here -->
                    <div class="imageRef">
                        <img src="/img/new-removebg-preview.png" alt="Image of New Scouts">
                        <div class="cap">
                            Image Ref: Illust AC, n.d.
                        </div>
                    </div>
                    <!-- Add more images as needed -->
                </div>
            </td>
        </tr>
    </table>
</div>
