<!--Points to the viewmodel class-->
@model MyPatrolLogbook.ViewModels.HikeListViewModel

<br />

<div class="row pt-4">

    <div class="col-6 text-start">
        <h2 style="color:#444444">List of Patrol Hikes</h2>
    </div>

    <div class="col-6 text-end">

        <a class="btn btn-primary" asp-action="ExportHikeInExcel">Download Patrol Hike Information to Excel</a>
        <br />
        <br />
        <form method="post">
            @Html.DropDownList("PatrolList", ViewBag.patrolList as SelectList, "Select a Patrol", new { @class = "custom-dropdown" })

            <input class="btn btn-primary" type="submit" value="Filter by Patrol" />

        </form>
        <br />
        <h4>@ViewData["filterByPatrolHike"]</h4>
    </div>
</div>

<br />
<div class="table-responsive">
    <!--Table that displays the products saved in the database-->
<table class="tableSlide2" style="width:100%">
        <!--Table headings-->
        <thead>
            <tr>
            <th style="text-align: center; vertical-align: middle;">
                    Hike Name
                </th>
            <th style="text-align: center; vertical-align: middle;">
                    Permit ID
                </th>
            <th style="text-align: center; vertical-align: middle;">
                    Hike Start Date
                </th>
            <th style="text-align: center; vertical-align: middle;">
                    Hike End Date
                </th>
            <th style="text-align: center; vertical-align: middle;">
                    Venue Name
                </th>
            <th style="text-align: center; vertical-align: middle;">
                    Venue Address
                </th>
            <th style="text-align: center; vertical-align: middle;">
                    Hike Cost
                </th>
            <th style="text-align: center; vertical-align: middle;">
                    Distance
                </th>
            <th style="text-align: center; vertical-align: middle;">
                    Attendance
                </th>
            <th style="text-align: center; vertical-align: middle;">
                    Hike Description
                </th>
            </tr>
        </thead>
        @if (Model != null && Model.Hikes != null && Model.Hikes.Any())
        {
            <!-- Table body -->
            <tbody>
                @foreach (var hike in Model.Hikes)
                {@if (hike != null && hike.HikeName != null)
                    {
                        <tr>
                        <td style="text-align: center; vertical-align: middle;">
                                @hike.HikeName
                            </td>
                        <td style="text-align: center; vertical-align: middle;">
                                @hike.PermitId
                            </td>
                        <td style="text-align: center; vertical-align: middle;">
                                @hike.StartDateTimeStr
                            </td>
                        <td style="text-align: center; vertical-align: middle;">
                                @hike.EndDateTimeStr
                            </td>
                        <td style="text-align: center; vertical-align: middle;">
                                @hike.VenueName
                            </td>
                        <td style="text-align: center; vertical-align: middle;">
                                @hike.VenueAddress
                            </td>
                        <td style="text-align: center; vertical-align: middle;">
                                R @hike.HikeCost
                            </td>
                        <td style="text-align: center; vertical-align: middle;">
                                @hike.Distance km
                            </td>
                        <td style="text-align: center; vertical-align: middle;">
                                @hike.HikeAttendance
                            </td>
                        <td style="text-align: center; vertical-align: middle;">
                                @hike.HikeDescription
                            </td>
                        </tr>
                    }
                }
            </tbody>
        }
        else if (Model != null && (Model.Hikes == null || !Model.Hikes.Any()))
        {
            <tr>
            <td style="text-align: center; vertical-align: middle;" colspan="10">No Hikes Available For Selected Patrol</td>
            </tr>
        }
        else
        {
            <tr>
            <td style="text-align: center; vertical-align: middle;" colspan="10">Please Filter by a Specific Patrol</td>
            </tr>
        }

    </table>
    </div>

<br />
<br />
<br />

<div class="table-responsive">
    <table class="table">
        <tr>
            <td>
                <div class="image-container-cust2">
                    <!-- Your images here -->
                    <div class="imageRef">
                        <img src="/img/mountainsgif.gif" alt="Gif of Mountains">
                        <div class="cap">
                            Image Ref: Adiga, n.d.
                        </div>

                    </div>

                    <div class="imageRef">
                        <img src="/img/hike-removebg-preview.png" alt="Image of Scout Hike">
                        <div class="cap">
                            Image Ref: Cheremisinova, 2020
                        </div>

                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
